body {
  font-family: "メイリオ", "Meiryo", sans-serif;
  padding: 10px;
}
/* footer */
footer {
  text-align: center;
}
/* 投稿フィード内 card */
.card {
  box-sizing: border-box;
  padding: 1.2em 0.8em;
  color: #333;
  border: 0.5px solid #e9eaea;
  border-radius: 3px;
  transition: 0.3s;
}

.content-1,
.content-2 {
  margin: 0;
}

.content-2 {
  padding: 0.8em 0;
  font-size: 0.8em;
}

.content-3 {
  font-size: 0.8em;
  color: #00b5ad;
  cursor: pointer;
}
